[Slide No- 39]

1. Create empty tuple and check its Data type.

In [1]:
d1=()
print(type(d1))

<class 'tuple'>

**[Slide No. - 39]**



2. Check the output : 
T1 = (101, "Peter", 22)    

T2 = ("Apple", "Banana", "Orange") 

T3 = (10,20,30,40,50)  

Print Data type of each tuple.

In [ ]:
T1 = (101, "Peter", 22)
T2 = ("Apple", "Banana", "Orange")
T3 = (10,20,30,40,50)
list=[type(T1),type(T2),type(T3)]
list

[tuple, tuple, tuple]

**[Slide No. - 40]**

3.Write the program to print 0 index item of tuple .

tup = (1,2,3,4,5,6,7)

In [ ]:
tup = (1,2,3,4,5,6,7)
tup[0]

1

**[Slide No. - 40]**

4.  What is the output of the program  

tup = (1,2,3,4,5,6,7)

print(tup[8])

In [3]:
tup = (1,2,3,4,5,6,7,9,10,11,12)
print(tup[8])

10

**[Slide No. 40]**

5.  Write a program to concate two tuple.

In [4]:
tuple1=(3,4,5)
tuple2=('a','b','c')
l1=list(tuple1)
l2=list(tuple2)
l3=l1+l2
tuple3=tuple(l3)
print(tuple3)

(3, 4, 5, 'a', 'b', 'c')

**[Slide No. 40]**

6 .  Write a program to create the tuple and delete the items?

In [7]:
tuple1=(3,4,5)
list1=list(tuple1)
list1.remove(4)
t1=tuple(list1)
print(t1)

(3, 5)

**[Slide No. 40]**

7. Write a program to delete  2 index value from  tuples?

In [10]:
tuple1=(4,5,6)
list1=list(tuple1)
list1.pop(2)
tuple2=tuple(list1)
print(tuple2)

(4, 5)

**[Slide No. 40]**

8. Check the output of 
tuple1 = (1, 2, 3, 4, 5)    

using negative indexing print last two item of tuple

using negative indexing print '4' from the tuple

using negative indexing print all items of the list

In [14]:
tuple1 = (1, 3, 6, 8, 5)
list1=list(tuple1)
a=list1[-2:]
b=list1[-2]
c=list1[-5:]
list2=[a,b,c]
tuple2=tuple(list2)
print(tuple2)

([8, 5], 8, [1, 3, 6, 8, 5])